@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="map" class="map">
        <nav class="navbar navbar-light bg-white">
            <form class="form-inline ml-auto">
                <button style="display:none;" id="earthquake" type="button" class="btn btn-success m-1" data-toggle="modal" data-target="#earthquakeModal"></button>
            </form>
            @{
                await Html.RenderPartialAsync("_EarthquakeModal", new Earthquake());
            }
        </nav>
    </div>
    @{
        await Html.RenderPartialAsync("_Map");
    }
</div>
