@{
    ViewData["Title"] = "Home Page";
}

<div>
    <button id="filter" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#filterModal">Filter</button>
    <div id="map" class="map"></div>
    @{
        await Html.RenderPartialAsync("_Map");
        await Html.RenderPartialAsync("_FilterModal", new Filter());
        await Html.RenderPartialAsync("_EarthquakeModal", new Earthquake());
    }
</div>
